.main_container {
    max-width: 1000px;
    margin: auto;
    background-color: #d5d5d5;
    padding: 10px;
}
.menu_sitio img {
    width: 50px
}

.carrusel_imagenes {
    max-width: 1200px;
    margin: 50px auto;
    background-color: #545151
}

.carrusel_imagenes img {
    margin: auto;
    height: 350px;
    
}

.carrusel_imagenes .descripcion {
    
    padding: 20px;
    text-align: center;
}

.footer {
    width: 100%
    margin: auto;
    background-color: #33ff61;
    padding: 20px 15px;
}

.footer h2{
    color: #ffffff;
    text-align:center;
}

.footer .links_redes {
    justify-content: center;
    display: flex;
    gap: 10px;
}
.footer .links_redes img {
    width: 45px;
    height: auto;
}
.footer .lista {
   list-style: none; 
   padding: 0;
}

<<<<<<< Updated upstream
/* animacion */
=======
.footer .lista p{
   color: #ffffff;
   text-align: center;

}

.main_container{

    color: #d5d5d5;
    align-content: center;
    padding: 25px;
}

.tituloprincipal{
    justify-content: center;
    

}
>>>>>>> Stashed changes
