.main_container {
    max-width: 800px;
    margin: auto;
    background-color: #d5d5d5;
    padding: 10px;
}
.menu_sitio img {
    width: 50px
}

.carrusel_imagenes {
    max-width: 800px;
    margin: 3px auto;
    background-color: #868484
}
h1{
   color: #33ff61; 
} 
    


.carrusel_imagenes img {

    margin: auto;
    height: 350px;
    border-radius: 15%;
        
}

.carrusel_imagenes .descripcion {
    
    padding: 20px;
    text-align: center;

}

.footer {
    width: 100%;
    margin: auto;
    background-color: #33ff61;
    padding: 20px;
}

.footer h2{
    color: #ffffff;
    text-align:center;
}

.footer .links_redes {
    justify-content: center;
    display: flex;
    gap: 10px;
}
.footer .links_redes img {
    width: 45px;
    height: auto;
}
.footer .lista {
   list-style: none; 
   padding: 0;
}

.footer p {

    color:#ffffff;
}

.main_container{

    color: #d5d5d5;
    align-content: center;
    padding: 25px;
}

.box_text {
    color:#d5d5d5;
    width: 100%;
    height: auto;
}
h1 {
    text-align: left;
}

.clearfix  {
    color:white;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: left;
}
.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
.contenedor_imagenes img{

    width: 100%;
    height: auto;
        
}
.ctn-lbl-comentar{
    width: 100%;
text-align: center;
}
.lbl-comentarios{
    font-family: cursive;
    font-size: 20px;
    text-shadow: 1px 2px 1px rgb(32, 156, 7);
   
}
input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}

.banner_container{
    
    text-align: center;
    overflow: auto;
       
   
}

.banner_container img{
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

