.box_text {
    color: rgb(8, 8, 8);
    background-color: rgb(95, 121, 25);
    width: 100%;
    height: auto;
}
h1 {
    text-align: center;
  }

.clearfix  {
    color: rgb(8, 8, 8);
    background-color: rgb(218, 241, 7);
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;

}
.row{

     color: rgb(8, 8, 8);
    background-color: rgb(218, 241, 7);
    width: 100%;
    height: auto;
    }
.col-4{
    color: rgb(8, 8, 8);
    background-color: rgb(249, 250, 243);
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 10px; 
}
.ctn-lbl-comentar{
    width: 100%;
text-align: center;
}
.lbl-comentarios{
    font-family: cursive;
    font-size: 20px;
    text-shadow: 1px 2px 1px rgb(32, 156, 7);
   
}
input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}
